.Region
{   border: 1px solid var(--cell-border);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 33%;
    width: 33%;
}

.Region-gray
{   background-color: lightgray;
}
