.Puzzle
{   border: 3px double black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0px auto;
    max-height: 450px;
    max-width: 450px;
    width: 100vh;
}